$price-color : #0bf;
$ticket-label: #777;
$help-text-color: #450A0A;
$text-center:center;

// Modal Login
$btnLogin-background-color: #00779A;
$btnLogin-border-color: #6A848E;


.ticketPrice{
  font-size: 19px;
  color: $price-color;
  float: right;
}
.info.ticket-label{
  color: $ticket-label;
  font-size: 12px;
  text-transform: uppercase;
  /*Vou parar uns 10 minutos*/
}
p.info{
  color: $ticket-label;
}
.modal-footer .btn-primary{
  background: $price-color;
  border-color: $price-color;
}

.btn-block.login {
  background-color: $btnLogin-background-color;
  border-color: $btnLogin-border-color;
}

.help-block {
  color: $help-text-color;
}
.loading{
  text-align: $text-center;
}