.input-group.loginNav {
  margin: 5px;
}

ul.dropdown-menu.loginNav {
  width: 25em;
}

@media screen and (min-width: 768px){
ul.dropdown-menu.loginNav {
    width: 20em;
}
}
.btnLoginNavbar{
 margin: 3px;
}