<html  ng-app="concertsApp">
  <head>
    <meta charset="UTF-8">
    <title>Optimus ingressos MVP</title>
    <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Tickets Concept</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />


    <!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="styles/style.css">

     <!-- endbuild -->
    
    
  </head>


  <body>
    <div class="wrapper" ng-controller="concertController as concertCtrl">
      <!-- Navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Optimus MVP</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="active" ng-show="authData" ng-click="Logout($event);"><a href="#">Logout
                <span class="sr-only">(current)</span></a></li>
              <li class="active" ng-hide="authData">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Entrar <span class="caret"></span></a>
                <ul class="dropdown-menu loginNav">
                  <li>
                    <div class="input-group loginNav margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" placeholder="Endereço de Email">
                  </div>
                  </li>
                  <li>
                    <div class="input-group loginNav">
                      <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                      <input class="form-control" type="password" placeholder="Senha">
                  </div>
                  </li>
                  <li>
                    <div class="btnLoginNavbar">
                      <button type="button" class="btn btn-info btn-block login">Login
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container">
        <div class="row">

          <div>
            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                <h3 class="modal-title">{{sell.name}}</h3>
              </div>
              <div class="modal-body">
                <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <img ng-src="{{sell.image}}" alt="{{sell.name}}" class="img-thumbnail">

                        <div class="artist">
                          <h6 class="info ticket-label">{{sell.label}}</h6>
                          <h4 class="name">{{sell.ticket[0].ds_ticket}}: <span class="ticketPrice">{{sell.ticket[0].price | currency:"R$"}}</span></h4>
                        </div>
                        <div class="info">
                          <p class="location info">
                            <i class="fa fa-map-marker"></i> {{sell.address.city}}, {{sell.address.country}}
                          </p>
                          <p class="date info">
                            <i class="fa fa-calendar"></i> {{sell.dateConcert | date:'dd/MM/yyyy HH:mm'}}
                          </p>
                        </div>
                        <div class="form-group">
                          <label for="ticketsBuy">Quantidade de Ingressos : {{ sellTicket.ticketsBuy }}</label>
                          <input type="number" class="form-control" min="1" max="5" ng-model="sellTicket.ticketsBuy" id="ticketsBuy" placeholder="Quantidade de Cartões">
                        </div>
                      </div>
                  <div class="col-sm-6 col-md-6 login" ng-hide="authData">

                    <div class="alert" style="background-color:#0bf;color:white" role="alert">
                      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
                                 close="closeAlert($index)">{{alert.msg}}</uib-alert>
                      <div class="price">
                        <form role="form" name="formLogin">
                          <div class="form-group">
                            <label>Email da sua conta</label>
                            <input type="email" class="form-control" ng-model="user.email"
                                   placeholder="Seu e-mail por favor" name="userEmail" required>
                            <p ng-show="formLogin.userEmail.$invalid && !formLogin.userEmail.$pristine"
                               class="help-block">
                                        Preencher email
                            </p>
                          </div>
                          <div class="form-group">
                            <label>Senha cadastrada</label>
                            <input type="password" class="form-control" ng-model="user.password"
                                   name="userPassword" placeholder="Digitar sua senha" required>
                            <p ng-show="formLogin.userPassword.$invalid && !formLogin.userPassword.$pristine"
                               class="help-block">Senha orbigratória</p>
                          </div>
                          </form>
                        </div>
                        <div class="col-md-3 col-md-offset-1 loading" ng-show=" loading == true;">
                            <i class="fa fa-cog fa-spin fa-4x fa-fw margin-bottom"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                       <button type="button"  ng-click="SignIn($event)" ng-show="loading == false;"
                                  ng-disabled="formLogin.$invalid"
                                  class="btn btn-info btn-block login">Login
                          </button>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6" ng-show="authData">
                    <div class="alert" style="background-color:#0bf;color:white" role="alert">
                      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                    <div class="price">
                      <form name="formBuyTicket">
                        <div class="form-group">
                          <label for="cardName">Nome no Cartão</label>
                          <input type="text" class="form-control" ng-model="sellTicket.cardName"
                                 id="cardName" placeholder="Nome como está no cartão" name="cardName" required>
                          <p ng-show="formBuyTicket.cardName.$invalid && !formBuyTicket.cardName.$pristine"
                             class="help-block">
                            Nome do cartão é Obrigatório
                          </p>
                        </div>
                        <div class="form-group">
                          <label for="cardNumber">Número do Cartão</label>
                          <input type="number" class="form-control" ng-model="sellTicket.cardNumber"
                                 id="cardNumber" placeholder="Número do cartão" name="cardNumber" required>
                          <p ng-show="formBuyTicket.cardNumber.$invalid && !formBuyTicket.cardNumber.$pristine"
                             class="help-block">
                            Número do cartão é Obrigatório
                          </p>
                        </div>
                        <div class="form-group">
                          <label for="expiry-month">Validade do Cartão</label>
                          <div class="row">
                              <div class="col-xs-6">
                                <select class="form-control col-sm-2" ng-model="sellTicket.expiryMonth"
                                        name="expiryMonth" id="expiry-month" required>
                                  <!-- Vou colocar os meses em Angular Da qui a pouco -->
                                  <option ng-repeat="month in months" value="{{$index}}">{{month}}</option>
                                </select>
                              </div>
                              <div class="col-xs-6">
                                <select class="form-control" ng-model="sellTicket.expiryYear" name="expiry-year">
                                  <option ng-repeat="year in years" value="{{$index}}">{{year}}</option>
                                </select>
                                <p ng-show="formBuyTicket.expiryMonth.$invalid && !formBuyTicket.expiryMonth.$pristine"
                                   class="help-block">
                                  Número do cartão é Obrigatório
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="cardSecurity">CVV</label>
                          <input type="number" class="form-control" maxlength="10" ng-model="sellTicket.cardSecurity"
                                 id="cardSecurity" placeholder="Código de Segurança do Cartão" name="cardSecurity" required>
                          <p ng-show="formBuyTicket.cardSecurity.$invalid && !formBuyTicket.cardSecurity.$pristine"
                             class="help-block">
                            Código de Segurança e obrigatorio
                          </p>
                        </div>
                        <div class="form-group">
                          <label for="cardType">Bandeira do Cartão</label>

                          <!-- Vou usar o ng_repeat da qui a pouco -->
                          <select class="form-control" name="cardType" ng-model="sellTicket.cardType"
                                  id="cardType" required>
                            <option value="1">Visa</option>
                            <option value="2" selected="selected">MasterCard</option>
                            <option value="3">American Express</option>
                          </select>
                          <p ng-show="formBuyTicket.cardType.$error.required"
                             class="help-block">
                            Escolha a Bandeira do Cartão
                          </p>
                        </div>
                      </form>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="modal-footer" ng-show="authData">
                <button class="btn btn-primary" type="button"
                        ng-disabled="formBuyTicket.$invalid" ng-click="buyTickets($event,sellTicket)">Comprar</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
              </div>
            </script>
          </div>



          <div class="col-lg-4 col-md-6 col-sm-6 show" ng-repeat="concert in concertCtrl.concerts">
            <div class="ticket-card">
              <div class="cover">
                <img ng-src={{concert.image}} alt="" />
                <div class="info">
                  <div class="going">
                    <i class="fa fa-group"></i> {{concert.tickets_sell}} Vendidos
                  </div>
                  <div class="tickets-left">
                    <i class="fa fa-ticket"></i> {{concert.tickets_left}} ingressos
                  </div>
                </div>
              </div>
              <div class="body">

                <div class="artist">
                  <h6 class="info">{{concert.label}}</h6>
                  <h4 class="name">{{concert.name}}</h4>
                </div>
                <div class="price">
                  <div class="from">Por</div>
                  <div class="value">
                    <b>R$</b>{{concert.tickets[0].price }}
                  </div>
                </div>

                <div class="clearfix"></div>
                <div class="info">
                  <p class="location">
                    <i class="fa fa-map-marker"></i> {{concert.address.city}}, {{concert.address.country}}
                  </p>
                  <p class="date">
                    <i class="fa fa-calendar"></i> {{concert.dateConcert | date:'dd/MM/yyyy HH:mm'}}
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="collapse" ng-class="{'in': concert.open}">
                <ul class="list-unstyled">
                    <li ng-repeat="ticket in concert.tickets">
                      <div class="ticket">
                        <h5>{{ticket.ds_ticket}}<br>
                          <small>25 Ingressos</small>
                        </h5>
                      </div>
                      <div class="price">
                        <div class="value"><b>R$</b>{{ticket.price}}</div>
                      </div>
                      <a href="#" class="btn btn-info btn-sm btn-buy" ng-click="$event.preventDefault(); open(concert,ticket)">Comprar Agora!</a>
                    </li>
                </ul>
              </div>
              <div class="footer">
                <button class="btn toggle-tickets"  ng-click="showTickets(concert)">{{concert.open ? 'Ocultar Ingressos' : 'Ver Ingressos'}}
                  <i class="fa" ng-class="concert.open ? 'fa-arrow-up' :'fa-arrow-down'"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

        <footer>
          <h3>Fale com a gente:</h3>
          <a target="_blank" class="social-icon teste" href="modal.html"><i class="fa fa-twitter"></i></a>
          <a target="_blank" class="social-icon" href="https://www.facebook.com/axelut"><i class="fa fa-facebook-square"></i></a>
          <a target="_blank" class="social-icon" href="http://optimusistemas.com.br/"><i class="fa fa-edge"></i></a>
          <a target="_blank" class="social-icon" href="https://github.com/alexandru-paduraru"><i class="fa fa-github"></i></a>
          <a target="_blank" class="social-icon" href="#"><i class="fa fa-linkedin"></i></a>
        </footer>
  </div>

</body>
        <!-- build:js scripts/main.js -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="../bower_components/firebase/firebase.js"></script>
        <script src="../bower_components/angularfire/dist/angularfire.js"></script>
		<script src="scripts/index.js"></script>
		<!-- endbuild -->

</html>
